# Dictionaries

In [1]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [2]:
my_dict['key3']

'value3'

In [3]:
price = {'apple': 2.67, 'oranges': 2.30, 'milk': 5.60}

In [4]:
print(price['apple'])
print(price['milk'])

2.67
5.6

In [5]:
my_dict2 = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'inside': 105}}

In [7]:
my_dict2['k2']

[0, 1, 2]

In [8]:
my_dict2['k3']

{'inside': 105}

In [10]:
my_dict2['k3']['inside']

105

In [13]:
my_dict3 = {'k1': ['a', 'b', 'c']}
my_dict3['k1']

['a', 'b', 'c']

In [17]:
my_list = my_dict3['k1']

In [18]:
my_list

['a', 'b', 'c']

In [19]:
letter = my_list[2]
letter

'c'

In [20]:
letter.upper()

'C'

In [22]:
my_dict3['k1'][2].upper()

'C'

In [23]:
my_dict4 = {'k1': 300, 'k2': 450}

In [25]:
my_dict4['k3'] = 77.2
my_dict4

{'k1': 300, 'k2': 450, 'k3': 77.2}

In [27]:
my_dict4['k2'] = [1,5, 8, 9]
my_dict4

{'k1': 300, 'k2': [1, 5, 8, 9], 'k3': 77.2}

In [29]:
my_dict4.keys()

dict_keys(['k1', 'k2', 'k3'])

In [30]:
my_dict4.values()

dict_values([300, [1, 5, 8, 9], 77.2])

In [32]:
my_dict4.items()

dict_items([('k1', 300), ('k2', [1, 5, 8, 9]), ('k3', 77.2)])